body {
    background-image: url("../img/hpbd.jpg");
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: "Fredoka One", cursive;
    color: white;
}

.img_banner_hpbd {
    background-image: url("../img/3d28ae425248a05544665dd53400f52e.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
}

h1.heading {
    font-family: "Pacifico", cursive;
    margin-top: 10px !important;
}

.jumbotron {
    opacity: 0.4;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

h4 {
    font-family: "Nunito Sans", sans-serif;
}

.bg-snow-tranparent-normal {
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.bg-snow-tranparent-hidden {
    opacity: 0.8;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.footer {
    height: 220px;
    font-size: 20px;
    background-color: darkblue;
    color: skyblue;
    padding-top: 50px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.containeri {
    position: relative;
    text-align: center;
}

.top-right {
    position: absolute;
    top: 25px;
    right: 200px;
    color: #728e98;
    font-size: 90%;
}

.top-left {
    position: absolute;
    top: 132px;
    right: 60px;
    color: #6c7c6b;
    font-size: 80%;
}

.center {
    position: absolute;
    bottom: 115px;
    left: 250px;
    color: #6c7c6b;
    font-size: 80%;
}

.and {
    position: absolute;
    bottom: 160px;
    left: 240px;
    color: #6c7c6b;
    font-size: 80%;
}

.bottom-right {
    position: absolute;
    bottom: 253px;
    right: 20px;
    color: #6c7c6b;
    font-size: 80%;
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 330px;
    color: #b78690;
}
.text-love {
    color: red;
    font-size: 15px;
}